@import url('https://fonts.googleapis.com/css?family=Nobile:400,700&display=swap');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	height: 100vh;
	background: #fff;
	font-family: 'Nobile', Arial, Helvetica, sans-serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navbar {
	text-align: center;
	padding: 1.5em 1.2em;
	background: rgb(240, 240, 240);
}

.logo {
	width: 50px;
}

.logo img {
	width: 55px;
}

header {
	display: flex;
	justify-content: space-between;
}

.menu {
	width: 18px;
	padding-top: 0.5em;
}

.hide-mobile {
	display: none;
}

nav ul {
	position: fixed;
	width: 40%;
	top: 0;
	right: 0;
	text-align: left;
	background: linear-gradient(#56a7e0, #fff);
	height: 100%;
	z-index: 7;
	padding-top: 3em;
}

nav ul li a {
	color: ivory;
	text-decoration: none;
	display: block;
	width: 100%;
	padding: 1em 1.5em;
	background-color: #3b9fe7;
}

nav ul li a:hover {
	background-color: #33bb99;
}

.exit-btn {
	margin-bottom: 1em;
	margin-top: -1.3em;
	text-align: right;
	padding: 0 1.4em;
}

.exit-btn img {
	width: 17px;
	cursor: pointer;
}

.gallery-section {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	background: #fff;
}

.inner-width {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
}

.gallery-section h1 {
	text-align: center;
	text-transform: uppercase;
	color: rgb(214, 214, 214);
	padding-top: 30px;
	font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

.border {
	width: 130px;
	height: 4px;
	background: rgb(214, 214, 214);
	margin: 20px auto;
}

.gallery {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
}

.gallery .image {
	flex: 25%;
	overflow: hidden;
	padding: 0.5em 0;
}

.gallery-section .image img {
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1080px) {
	.gallery-section .image {
		flex: 100%;
	}
}

@media screen and (max-width: 480px) {
	.gallery-section .image {
		flex: 100%;
	}
}
